h1{
    

    color:  ivory;


    
}
*{

    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;

}
body{

    background-image: url('portfoliopic.jpg');
    background: rgb(26, 25, 25);
    color: ivory;

}

.container {
    background-image: url('pictureofme1.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; /* adjust as needed */
    height: 500px; /* adjust as needed */
  }

.container img {

    max-width: 100%;
    max-height: 100%;
    display: block;

}

